.header_darken {
    background-color: $base-black;
}

.app_container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darken(rgba($bgGreen, .6), 20%);
    z-index: 1;
}

.form{
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $base-white;
}

.label{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main{
    flex-grow: 1;
    position: relative;
    background: url('@/../public/img/auth_bg.jpg');
    background-size: cover;

}

form{
    padding: 30px 50px;
    border: 1px solid rgba($base-white, .5);
    border-radius: 10px;
    backdrop-filter: blur(3px);
    background-color: rgba($bgGreen, .2);
}

h1{
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.checkbox{
    margin-bottom: 20px;
}

.button-primary{
    margin-top: 20px;
}

.footer{
    margin: unset;
}
